<header>
  <h3>Sending photos to <%= App.Store.email %><span class="logout">
  <a href="/session" id="logout" data-method="delete" rel="nofollow">Restart</a></span></h3>
</header>
<section>
  <h1 class="instructions">Select Photos To Email</h1>
  
  <div id="photos" class="clearfix">

    <span class="more">+ MORE PHOTOS</span>
  </div>
  <h3><a href="#" class="sendphotos">Send Emails</a></h3>
</section>