<header>
  Sending photos to <%= App.Store.email %>
  <a href="/session" id="logout" data-method="delete" rel="nofollow">Restart</a>
</header>
<section>
  <h1 class="instructions">Select Photos To Email</h1>
  
  <div id="photos" class="clearfix">

    <span class="more">MORE PHOTOS</span>
  </div>
  <a href="#" class="sendphotos">Send Emails</a>
</section>