<section>
  <h1>Thanks For Sharing</h1>
  <h3><span class="logout"><a href="/#email">Share more</a></span></h3>
 <h3><span class="logout"><a href="/session" id="logout" data-method="delete" rel="nofollow">Restart</a></span></h3>
</section>