<header>
  <h3><%= user.escape('name') %> <span class="logout"><a href="/session" id="logout" data-method="delete" rel="nofollow">Logout</a></span></h3>
</header>
<div class="status">
  <h1 class="caption-input">Enter a caption</h1>
  <h1 class="caption-input"><input type="text" class="caption"></h1>
  <h1 class="posting">Posting to your wall...</h1>
  <h1 class="post-success">Posted!</h1>
  <h1 class="post-failed">Email Sent Successfully</h1>
</div>
<section>
  <h1 class="instructions">Select A Photo To Share</h1>
  
  <div id="photos" class="clearfix">

    <span class="more">+ MORE PHOTOS</span>
  </div>
</section>