<header>
  <%= user.escape('name') %>
  <a href="/session" id="logout" data-method="delete" rel="nofollow">Logout</a>
</header>
<section>
  <h1 class="instructions">Select A Photo To Share</h1>
  
  <div id="photos" class="clearfix">

    <span class="more">MORE PHOTOS</span>
  </div>
</section>